.shopcart{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 50;
    width: 100%;
    height: 48px;
}
    .shopcart-content{
        display: flex;
        background-color: #141d27;
        font-size: 0;
        color: rgba(255,255,255,0.4);
    }
        .shopcart-left{
            flex: 1;
        }
            .shopcart-icon-content{
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: -10px;
                margin: 0 12px;
                padding: 6px;
                width: 56px;
                height: 56px;
                box-sizing: border-box;
                border-radius: 50%;
                background-color: #141d27;
            }
                .shopcart-icon{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #2b343c;
                    text-align: center;

                    &.hightlight{
                        background-color: rgb(0,160,220);
                        .icon-shopping_cart{
                            color: #ffffff;
                        }
                    }

                    .icon-shopping_cart{
                        line-height: 44px;
                        font-size: 24px;
                        color: #80858a;
                    }
                }
                .num{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 9px;
                    font-weight: 400;
                    color: #ffffff;
                    background-color: rgb(240, 20, 20);
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                }
            .shopcart-amount-price{
                display: inline-block;
                vertical-align: top;
                margin-top: 12px;
                line-height: 24px;
                padding-right: 12px;
                box-sizing: border-box;
                border-right: 1px solid rgba(255,255,255,0.1);
                font-size: 16px;
                font-weight: 700;
                &.hightlight{
                    color: #ffffff;
                }
            }
            .shopcart-desc{
                display: inline-block;
                vertical-align: top;
                margin: 12px 0 0 12px;
                line-height: 24px;
                font-size: 10px;
            }
        .shopcart-right{
            flex: 0 0 105px;
            width: 105px;
        }
            .pay{
                height: 48px;
                line-height: 48px;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                &.not-enough{
                    background-color: #2b333b;
                }
                &.enough{
                    background-color: #00b43c;
                    color: #ffffff;
                }
            }

    .ball-content{

    }
        .ball{
            position: fixed;
            left: 32px;
            bottom: 22px;
            z-index: 200;
            .inner{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: rgb(0,160,220);
                transition: all 0.4s linear;
            }
            &.drop-enter-active, &.drop-leave-active,&.drop-enter, &.drop-leave-to{
                transition: all 0.4s cubic-bezier( 0.49, -0.29, 0.75, 0.41);
            }
        }
    .shopcart-list{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        transition: all 0.5s;
        transform: translate3d(0,-100%,0);
        &.fold-enter-active, &.fold-leave-active,&.fold-enter, &.fold-leave-to{
            transform: translate3d(0,0,0);
        }
    }
        .shopcart-list-header{
            height: 40px;
            line-height: 40px;
            padding: 0 18px;
            background-color: #f3f5f7;
            border-bottom: 2px solid rgba($color: $main, $alpha: 0.1);
        }
            .shopcart-title{
                float: left;
                font-size: 14px;
                color: $main;
            }
            .empty{
                float: right;
                font-size: 12px;
                color: rgb(0,160,220);
            }
        .shopcart-list-body{
            padding: 0 18px;
            max-height: 217px;
            overflow: hidden;
            background-color: #ffffff;
        }
            .shopcart-list-item{
                position: relative;
                padding: 12px 0;
                box-sizing: border-box;
                border-bottom: 1px solid rgba($color: $main, $alpha: 0.1);;
                .name{
                    line-height: 24px;
                    font-size: 14px;
                    color: $main;
                }
                .price{
                    position: absolute;
                    right: 90px;
                    bottom: 12px;
                    line-height: 24px;
                    font-size: 14px;
                    color: rgb(240, 20, 20);
                }
                .cartControl-content{
                    position: absolute;
                    right: 0;
                    bottom: 6px;
                }
            }
.list-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba($color: $main, $alpha: 0.6);
    backdrop-filter: blur(10px);
    &.fade-enter-active, &.fade-leave-active {
        transition: all .5s;
        opacity: 1;
    }
    &.fade-enter, &.fade-leave-to {
        opacity: 0;
        background-color: rgba($color: $main, $alpha: 0);
    }
}